@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap');

:root {
    --c-background: #eba6a6;
    --c-front: black;
    --c-searchbar: #fff4;
    --c-searchbar-hover: #fff6;
    --c-hover: #0001;
    --c-player: #0004;
    --fh: 20px;
}
body {
    background: var(--c-background);
    width: 100vw;
    margin: 0;
    padding: 0;
    font-family: 'Calibri';
    font-size: 1rem;
    color: var(--c-front);
    font-family: 'Cabin', sans-serif;
}
#b {
    height: calc(100vh - var(--fh));
}
#b.scrollable {
    overflow-y: scroll;
}
#c {
    padding: 0 5rem;
}
#c.playerbody {
    padding: 0 1rem;
    height: 100%;
}
.center {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
footer {
    background: var(--c-front);
    color: var(--c-background);
    width: calc(100% - 0.4rem);
    padding: 0.2rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    z-index: 1;
    position: fixed;
    bottom: 0;
}
footer span {
    margin: 0 1rem;
}
footer a {
    color: var(--c-background);
    text-decoration: none;
}
@media (max-aspect-ratio: 1) {
    #c {
        padding: 0 1rem;
    }
}

/******************/
h1 {
    margin: 0;
    font-size: 3rem;
}
h2 {
    margin: 0;
    font-size: 1.5rem;
    color: var(--c-front);
    opacity: 0.8;
}
h3 {
    margin: 0;
}
a {
    color: var(--c-front);
    text-decoration: underline;
}
form {
    display: flex;
    margin: 0.5rem 0;
    gap: 0.5rem;
    width: 100%;
    flex-direction: row;
    max-width: 40rem;
    border-radius: 2rem;
    background: var(--c-searchbar);
    transition: .2s ease;
}
form:hover {
    background: var(--c-searchbar-hover);
}
form input[type=text] {
    padding: 0.5rem;
    border: none;
    outline: none;
    border-radius: 4px;
    font-size: 1.2rem;
    margin: 0;
    margin-left: 0.5rem;
    flex: 1;
    background: none;
    min-width: 0;
}
form button {
    background: none;
    outline: none;
    border: none;
    border-left: 1px solid var(--c-hover);
    margin-right: 0.5rem;
    padding: 0 1rem;
    /* margin-right: 0.5rem; */
}


/******************/
.holder a {
    text-decoration: none;
}
.holder {
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
}
.holder:not(#queue) {
    margin: 1rem 0;
}
.holder h3 {
    margin: 0;
    font-size: 1.6rem;
}
.holder > div {
    width: fit-content
}
.holder .song, .holder .video {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.4rem;
    z-index: 0;
    border-radius: 4px;
}
.holder img {
    border-radius: 4px;
}
.holder .thumbnail {
    height: 60px;
    width: fit-content;
}
.holder .slider {
    display: flex;
    flex-direction: row;
    overflow: scroll;
    scrollbar-width: none;
    gap: 1rem;
    width: 100%;
}
.holder .slider div {
    display: block;
    width: 120px;
    text-align: center;
}
.holder .slider img {
    height: 120px;
}
.artist img {
    border-radius: 50%;
}


/***** PLAYER *****/
.playerbody {
    /* position: absolute;
    top: 0;
    left: 0; */
    display: flex;
    /* padding: 1rem; */
    gap: 1rem;
    /* width: calc(100vw - 2rem); */
}
#player {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(60vw - 2rem);
    flex: 50%;
    justify-content: center;
    gap: 1rem;
    width: 100%;
}
@media (min-aspect-ratio: 1) {
    .playerbody {
        flex-direction: row;
    }
    #player {
        flex: 5;
    }
    #queue {
        height: calc(100vh - 2rem);
        flex: 4;
        padding-top: 1rem;
    }
    #pqueue {
        height: calc(100vh - 9rem);
        overflow: scroll;
    }
}
@media (max-aspect-ratio: 1) {
    .playerbody {
        flex-direction: column;
        padding-top: min(2rem, calc((100vw - 0.9 * min(90vw, 20rem)) / 4));
    }
    #player {
        padding-top: min(2rem, calc((100vw - 0.9 * min(90vw, 20rem)) / 4));
    }
    #queue {
        width: 100%;
    }
}
#pqueue {
    padding: 0 0.2rem;
    padding-bottom: 2rem;
    margin: 0.5rem 0;
}
#pqueue .song {
    padding: 0.2rem;
    transform: translateX(-0.2rem);
}
#pqueue .song:hover {
    background: var(--c-hover);
}
#pqueue .song .albumIndex {
    margin: 0 0.5rem;
    font-size: 1.2rem;
    opacity: 0.7;
}
#pqueue .active::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f001";
    margin: 0.5rem;
}
#pimgcontainer {
    width: min(min(90vw, 90vh), 20rem);
    height: min(min(90vw, 90vh), 20rem);
    display: flex;
    justify-content: center;
    flex-direction: column;
}
#player .thumbnail {
    width: 100%;
    height: fit-content;
    border-radius: 10px;
    box-shadow: 0 0 2rem #0002;
}
#player audio {
    display: none;
}
#pplayerinfo span {
    display: block;
    text-align: center;
}
#pplayerinfo .title {
    font-size: 1.5rem;
}
#pplayerinfo .album {
    font-style: italic;
}
#playerControls {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: min(min(90vw, 90vh), 20rem);
}
#audioPlayer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -0.5rem;
}
#ptimes {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    font-size: 0.8rem;
}
#pbuttons {
    display: flex;
    gap: 1rem;
    flex-direction: row;
    justify-content: center;
}
#pbuttons .pbutton {
    height: 4rem;
    width: 4rem;
    border-radius: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .2s ease-out;
}
#pplaypause {
    background: var(--c-front);
    color: var(--c-background);
}
#pplaypause:hover {
    transform: scale(105%);
}
#pplaypause .pplay {
    transform: translateX(0.1rem);
}
.pbuttonoff {
    opacity: 0.2;
}
#pskip:not(.pbuttonoff):hover, #pskipleft:not(.pbuttonoff):hover {
    background: var(--c-hover);
}
#progressContainer {
    position: relative;
    width: calc(0.9 * min(min(90vw, 90vh), 20rem));
    height: 1rem;
}
#pbackgroundbar {
    width: 100%;
    height: 0.2rem;
    z-index: -1;
    position: absolute;
    background: var(--c-player);
    position: absolute;
    top: 0.4rem;
    border-radius: 0.1rem;
}
#pbufferedbar {
    height: 0.2rem;
    z-index: -1;
    position: absolute;
    background: var(--c-player);
    position: absolute;
    top: 0.4rem;
    border-radius: 0.1rem;
    display: none;
}
#pprogressbar {
    height: 0.2rem;
    z-index: -1;
    position: absolute;
    background: var(--c-front);
    position: absolute;
    top: 0.4rem;
    border-radius: 0.1rem;
}
#pslider {
    width: 100%;
    -webkit-appearance: none;
    position: absolute;
    top: 0.2rem;
    left: 0;
    transform: translate(-2px,-3px);
    height: 0.8rem;
    background: none;
}
#pslider::-webkit-slider-thumb, #pslider::-moz-range-thumb {
  -webkit-appearance: none; /* Override default look */
   appearance: none;

   /*custom styles*/
   outline: none;
   border: none;
   background-color: var(--c-front);
   border-radius: 50%;
   height: 0.5rem;
   width: 0.5rem;
   transform: translateY(-1px);
   transition: .1s ease;
}
#pslider:hover::-webkit-slider-thumb, #pslider:hover::-moz-range-thumb {
    height: 0.8rem;
    width: 0.8rem;
    transform: translate(-0.08rem, -1px)
}
#pautoplay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: calc(100vh - 1.6rem);
    background: var(--c-background);
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: none;
    text-align: center;
    opacity: 0.9;
}
#pautoplay.on {
    display: flex;
}
#pautoplay span {
    opacity: 0.6;
    font-style: italic;
}
#legal {
    max-width: 30rem;
    width: calc(100vw - 2rem);
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    padding-bottom: 5rem;
    text-align: justify;
}
#legal > div {
    margin-top: 2rem;
}
#legal h3 {
    font-size: 1.8rem;
}
#legal h5 {
    margin: 0;
    margin-top: 0.6rem;
    font-size: 1.1rem;
}
#restriction {
    color: red;
    display: block;
    font-weight: bold;
    max-width: 40rem;
}
